header {
    display: flex;
    padding-inline: 16px;
    padding-block: 8px;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
nav {
    width: 100%;
    display: flex;
    text-align: center;
    cursor: pointer;
    :hover {
        text-decoration: underline;
        color: lightgray;
    }
}
span {
    padding-right: 10px;
}